In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import random
import pandas as pd

In [2]:
uri = "mongodb+srv://goner10:tetete@cluster1.jsr8w0n.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))

# Enviar un ping para confirmar una conexión exitosa
try:
    client.admin.command('ping')
    db = client.get_database("test")
    print("¡Ping a tu implementación exitoso! Te has conectado correctamente a MongoDB.")
except Exception as e:
    print(e)

¡Ping a tu implementación exitoso! Te has conectado correctamente a MongoDB.

In [3]:
# Load data from json file
def load_data(file):
    '''
    Función para cargar datos desde un archivo json 
    Args:
        file (str): nombre del archivo json
    Returns:
        data (dict): diccionario con los datos del archivo
    '''
    import json
    with open(file) as f:
        data = json.load(f)
    return data

In [6]:
tags = load_data("File/tags.json")

In [9]:
students = load_data("File/students.json")

In [47]:
events = load_data("File/events.json")

In [40]:
# Escoger 7 eventos al azar donde oficial sea False

random.seed(42)
events_official_false = random.sample([event for event in events if event["oficial"] == False], 7)
events_official_false

[{'_id': {'$oid': '6487a2b3c6fbcccc68731aff'},
  'name': 'Evento de Visitar museos',
  'description': 'Evento de Visitar museos',
  'createdBy': {'$oid': '6487a21ac6fbcccc68731956'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-06-29T05:41:25.043Z'},
  'endDate': {'$date': '2023-07-01T07:25:20.043Z'},
  'localization': 'Alboraya',
  'attendees': [{'$oid': '6487a21ac6fbcccc68731a5a'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb0fe'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731afc'},
  'name': 'Evento de Ajedrez',
  'description': 'Evento de Ajedrez',
  'createdBy': {'$oid': '6487a21ac6fbcccc6873196d'},
  'date': {'$date': '2023-06-13T00:55:47.042Z'},
  'startDate': {'$date': '2023-07-07T06:06:53.042Z'},
  'endDate': {'$date': '2023-08-03T07:09:36.042Z'},
  'localization': 'Alcàsser',
  'attendees': [{'$oid': '6487a21ac6fbcccc6873183c'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb111'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731b04'},
  'name': 'Evento de Gimnasio',
  'description': 'Evento de Gimnasio',
  'createdBy': {'$oid': '6487a21ac6fbcccc687318a0'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-06-21T09:12:33.043Z'},
  'endDate': {'$date': '2023-07-07T10:43:56.043Z'},
  'localization': 'Almàssera',
  'attendees': [{'$oid': '6487a21ac6fbcccc68731912'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb103'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731b03'},
  'name': 'Evento de Natación',
  'description': 'Evento de Natación',
  'createdBy': {'$oid': '6487a21ac6fbcccc68731843'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-06-25T21:02:30.043Z'},
  'endDate': {'$date': '2023-07-21T23:00:07.043Z'},
  'localization': 'Valencia',
  'attendees': [{'$oid': '6487a21ac6fbcccc68731a62'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb107'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731b0c'},
  'name': 'Evento de Revistas',
  'description': 'Evento de Revistas',
  'createdBy': {'$oid': '6487a21ac6fbcccc687318e5'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-07-06T09:06:17.043Z'},
  'endDate': {'$date': '2023-07-24T10:21:37.043Z'},
  'localization': 'Almàssera',
  'attendees': [{'$oid': '6487a21ac6fbcccc687319c9'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb0fe'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731afe'},
  'name': 'Evento de Viajar',
  'description': 'Evento de Viajar',
  'createdBy': {'$oid': '6487a21ac6fbcccc6873186b'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-07-13T08:28:01.043Z'},
  'endDate': {'$date': '2023-08-02T10:10:46.043Z'},
  'localization': 'Aldaia',
  'attendees': [{'$oid': '6487a21ac6fbcccc687319b8'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb101'],
  'oficial': False},
 {'_id': {'$oid': '6487a2b3c6fbcccc68731b07'},
  'name': 'Evento de Libros',
  'description': 'Evento de Libros',
  'createdBy': {'$oid': '6487a21ac6fbcccc6873186b'},
  'date': {'$date': '2023-06-13T00:55:47.043Z'},
  'startDate': {'$date': '2023-07-05T03:06:49.043Z'},
  'endDate': {'$date': '2023-07-27T04:29:51.043Z'},
  'localization': 'Alcàsser',
  'attendees': [{'$oid': '6487a21ac6fbcccc68731869'}],
  'imageUrl': 'https://picsum.photos/200/300',
  'tags': ['64879ed95340903bb1ebb106'],
  'oficial': False}]

In [41]:
# Convertir en un dataframe

df_events_official_false = pd.DataFrame(events_official_false)
df_events_official_false

,_id,name,description,createdBy,date,startDate,endDate,localization,attendees,imageUrl,tags,oficial
0,{'$oid': '6487a2b3c6fbcccc68731aff'},Evento de Visitar museos,Evento de Visitar museos,{'$oid': '6487a21ac6fbcccc68731956'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-06-29T05:41:25.043Z'},{'$date': '2023-07-01T07:25:20.043Z'},Alboraya,[{'$oid': '6487a21ac6fbcccc68731a5a'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb0fe],False
1,{'$oid': '6487a2b3c6fbcccc68731afc'},Evento de Ajedrez,Evento de Ajedrez,{'$oid': '6487a21ac6fbcccc6873196d'},{'$date': '2023-06-13T00:55:47.042Z'},{'$date': '2023-07-07T06:06:53.042Z'},{'$date': '2023-08-03T07:09:36.042Z'},Alcàsser,[{'$oid': '6487a21ac6fbcccc6873183c'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb111],False
2,{'$oid': '6487a2b3c6fbcccc68731b04'},Evento de Gimnasio,Evento de Gimnasio,{'$oid': '6487a21ac6fbcccc687318a0'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-06-21T09:12:33.043Z'},{'$date': '2023-07-07T10:43:56.043Z'},Almàssera,[{'$oid': '6487a21ac6fbcccc68731912'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb103],False
3,{'$oid': '6487a2b3c6fbcccc68731b03'},Evento de Natación,Evento de Natación,{'$oid': '6487a21ac6fbcccc68731843'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-06-25T21:02:30.043Z'},{'$date': '2023-07-21T23:00:07.043Z'},Valencia,[{'$oid': '6487a21ac6fbcccc68731a62'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb107],False
4,{'$oid': '6487a2b3c6fbcccc68731b0c'},Evento de Revistas,Evento de Revistas,{'$oid': '6487a21ac6fbcccc687318e5'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-07-06T09:06:17.043Z'},{'$date': '2023-07-24T10:21:37.043Z'},Almàssera,[{'$oid': '6487a21ac6fbcccc687319c9'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb0fe],False
5,{'$oid': '6487a2b3c6fbcccc68731afe'},Evento de Viajar,Evento de Viajar,{'$oid': '6487a21ac6fbcccc6873186b'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-07-13T08:28:01.043Z'},{'$date': '2023-08-02T10:10:46.043Z'},Aldaia,[{'$oid': '6487a21ac6fbcccc687319b8'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb101],False
6,{'$oid': '6487a2b3c6fbcccc68731b07'},Evento de Libros,Evento de Libros,{'$oid': '6487a21ac6fbcccc6873186b'},{'$date': '2023-06-13T00:55:47.043Z'},{'$date': '2023-07-05T03:06:49.043Z'},{'$date': '2023-07-27T04:29:51.043Z'},Alcàsser,[{'$oid': '6487a21ac6fbcccc68731869'}],https://picsum.photos/200/300,[64879ed95340903bb1ebb106],False

In [42]:
# Dataframe con columnas de interés: _id, nombre, attendees, oficial

events_official_false = df_events_official_false[["tags","name", "_id",  "attendees", "oficial"]]
events_official_false

,tags,name,_id,attendees,oficial
0,[64879ed95340903bb1ebb0fe],Evento de Visitar museos,{'$oid': '6487a2b3c6fbcccc68731aff'},[{'$oid': '6487a21ac6fbcccc68731a5a'}],False
1,[64879ed95340903bb1ebb111],Evento de Ajedrez,{'$oid': '6487a2b3c6fbcccc68731afc'},[{'$oid': '6487a21ac6fbcccc6873183c'}],False
2,[64879ed95340903bb1ebb103],Evento de Gimnasio,{'$oid': '6487a2b3c6fbcccc68731b04'},[{'$oid': '6487a21ac6fbcccc68731912'}],False
3,[64879ed95340903bb1ebb107],Evento de Natación,{'$oid': '6487a2b3c6fbcccc68731b03'},[{'$oid': '6487a21ac6fbcccc68731a62'}],False
4,[64879ed95340903bb1ebb0fe],Evento de Revistas,{'$oid': '6487a2b3c6fbcccc68731b0c'},[{'$oid': '6487a21ac6fbcccc687319c9'}],False
5,[64879ed95340903bb1ebb101],Evento de Viajar,{'$oid': '6487a2b3c6fbcccc68731afe'},[{'$oid': '6487a21ac6fbcccc687319b8'}],False
6,[64879ed95340903bb1ebb106],Evento de Libros,{'$oid': '6487a2b3c6fbcccc68731b07'},[{'$oid': '6487a21ac6fbcccc68731869'}],False

In [43]:
# Cambiar nombres de columnas de dataframe events_official_false

events_official_false.columns = ["name", "description", "events", "participantes", "oficial"]
events_official_false

,name,description,events,participantes,oficial
0,[64879ed95340903bb1ebb0fe],Evento de Visitar museos,{'$oid': '6487a2b3c6fbcccc68731aff'},[{'$oid': '6487a21ac6fbcccc68731a5a'}],False
1,[64879ed95340903bb1ebb111],Evento de Ajedrez,{'$oid': '6487a2b3c6fbcccc68731afc'},[{'$oid': '6487a21ac6fbcccc6873183c'}],False
2,[64879ed95340903bb1ebb103],Evento de Gimnasio,{'$oid': '6487a2b3c6fbcccc68731b04'},[{'$oid': '6487a21ac6fbcccc68731912'}],False
3,[64879ed95340903bb1ebb107],Evento de Natación,{'$oid': '6487a2b3c6fbcccc68731b03'},[{'$oid': '6487a21ac6fbcccc68731a62'}],False
4,[64879ed95340903bb1ebb0fe],Evento de Revistas,{'$oid': '6487a2b3c6fbcccc68731b0c'},[{'$oid': '6487a21ac6fbcccc687319c9'}],False
5,[64879ed95340903bb1ebb101],Evento de Viajar,{'$oid': '6487a2b3c6fbcccc68731afe'},[{'$oid': '6487a21ac6fbcccc687319b8'}],False
6,[64879ed95340903bb1ebb106],Evento de Libros,{'$oid': '6487a2b3c6fbcccc68731b07'},[{'$oid': '6487a21ac6fbcccc68731869'}],False

In [44]:
# Agregar columna "createdBy" con valor '6488e85f0130fed4d1624e6c' en todas las filas

events_official_false["createdBy"] = "6488e85f0130fed4d1624e6c"
events_official_false

/var/folders/j7/f0dlbvv5239_cpgr1x6831pc0000gn/T/ipykernel_73067/2764869651.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_official_false["createdBy"] = "6488e85f0130fed4d1624e6c"

,name,description,events,participantes,oficial,createdBy
0,[64879ed95340903bb1ebb0fe],Evento de Visitar museos,{'$oid': '6487a2b3c6fbcccc68731aff'},[{'$oid': '6487a21ac6fbcccc68731a5a'}],False,6488e85f0130fed4d1624e6c
1,[64879ed95340903bb1ebb111],Evento de Ajedrez,{'$oid': '6487a2b3c6fbcccc68731afc'},[{'$oid': '6487a21ac6fbcccc6873183c'}],False,6488e85f0130fed4d1624e6c
2,[64879ed95340903bb1ebb103],Evento de Gimnasio,{'$oid': '6487a2b3c6fbcccc68731b04'},[{'$oid': '6487a21ac6fbcccc68731912'}],False,6488e85f0130fed4d1624e6c
3,[64879ed95340903bb1ebb107],Evento de Natación,{'$oid': '6487a2b3c6fbcccc68731b03'},[{'$oid': '6487a21ac6fbcccc68731a62'}],False,6488e85f0130fed4d1624e6c
4,[64879ed95340903bb1ebb0fe],Evento de Revistas,{'$oid': '6487a2b3c6fbcccc68731b0c'},[{'$oid': '6487a21ac6fbcccc687319c9'}],False,6488e85f0130fed4d1624e6c
5,[64879ed95340903bb1ebb101],Evento de Viajar,{'$oid': '6487a2b3c6fbcccc68731afe'},[{'$oid': '6487a21ac6fbcccc687319b8'}],False,6488e85f0130fed4d1624e6c
6,[64879ed95340903bb1ebb106],Evento de Libros,{'$oid': '6487a2b3c6fbcccc68731b07'},[{'$oid': '6487a21ac6fbcccc68731869'}],False,6488e85f0130fed4d1624e6c

In [38]:
# Columna events eliminar '$oid' y convertir en lista de strings 

events_official_false["events"] = events_official_false["events"].apply(lambda x: str(x["$oid"]))
events_official_false

/var/folders/j7/f0dlbvv5239_cpgr1x6831pc0000gn/T/ipykernel_73067/4091211277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_official_false["events"] = events_official_false["events"].apply(lambda x: str(x["$oid"]))

,name,description,events,participantes,oficial,createdBy
0,[64879ed95340903bb1ebb0fe],Evento de Visitar museos,6487a2b3c6fbcccc68731aff,[{'$oid': '6487a21ac6fbcccc68731a5a'}],False,6488e85f0130fed4d1624e6c
1,[64879ed95340903bb1ebb111],Evento de Ajedrez,6487a2b3c6fbcccc68731afc,[{'$oid': '6487a21ac6fbcccc6873183c'}],False,6488e85f0130fed4d1624e6c
2,[64879ed95340903bb1ebb103],Evento de Gimnasio,6487a2b3c6fbcccc68731b04,[{'$oid': '6487a21ac6fbcccc68731912'}],False,6488e85f0130fed4d1624e6c
3,[64879ed95340903bb1ebb107],Evento de Natación,6487a2b3c6fbcccc68731b03,[{'$oid': '6487a21ac6fbcccc68731a62'}],False,6488e85f0130fed4d1624e6c
4,[64879ed95340903bb1ebb0fe],Evento de Revistas,6487a2b3c6fbcccc68731b0c,[{'$oid': '6487a21ac6fbcccc687319c9'}],False,6488e85f0130fed4d1624e6c
5,[64879ed95340903bb1ebb101],Evento de Viajar,6487a2b3c6fbcccc68731afe,[{'$oid': '6487a21ac6fbcccc687319b8'}],False,6488e85f0130fed4d1624e6c
6,[64879ed95340903bb1ebb106],Evento de Libros,6487a2b3c6fbcccc68731b07,[{'$oid': '6487a21ac6fbcccc68731869'}],False,6488e85f0130fed4d1624e6c

In [28]:
# Guardar en formato json

events_official_false.to_json("File/canal_difusion_official_false.json", orient="records")

In [50]:
# Escoger 7 eventos al azar donde oficial sea False

random.seed(42)
events_official_true = random.sample([event for event in events if event["oficial"] == True], 2)
events_official_true

[{'_id': {'$oid': '6489d389c6fbcccc68731b10'},
  'name': 'HR INTERNATIONAL SUMMER SCHOOL',
  'description': 'Conoce y fórmate en las tendencias más innovadoras en la Gestión de Personas desde el punto de vista de responsables de RRHH.',
  'createdBy': '6488e85f0130fed4d1624e6c',
  'date': {'$date': '2023-06-14T16:49:14.752Z'},
  'startDate': {'$date': '2023-06-15T16:49:14.752Z'},
  'endDate': {'$date': '2023-06-15T17:49:14.752Z'},
  'localization': 'EDEM',
  'attendees': [],
  'imageUrl': 'https://edem.eu/wp-content/uploads/2023/05/2summer-school-landing-nueva.png',
  'tags': ['6489af585340903bb1ebb11e'],
  'oficial': True},
 {'_id': {'$oid': '6489d389c6fbcccc68731b11'},
  'name': 'EDEM STARTUP',
  'description': 'EDEM Startup es un programa de incubación y aceleración de startups que ofrece a los emprendedores un espacio de trabajo, formación, asesoramiento y networking.',
  'createdBy': '6488e85f0130fed4d1624e6c',
  'date': {'$date': '2023-06-14T16:49:14.752Z'},
  'startDate': {'$date': '2023-06-15T16:49:14.752Z'},
  'endDate': {'$date': '2023-06-15T17:49:14.752Z'},
  'localization': 'EDEM',
  'attendees': [],
  'imageUrl': 'https://edem.eu/wp-content/uploads/2021/05/edem-startup-landing.png',
  'tags': ['6489af585340903bb1ebb11e'],
  'oficial': True}]

In [51]:
# Convertir en un dataframe

df_events_official_true = pd.DataFrame(events_official_true)
df_events_official_true

,_id,name,description,createdBy,date,startDate,endDate,localization,attendees,imageUrl,tags,oficial
0,{'$oid': '6489d389c6fbcccc68731b10'},HR INTERNATIONAL SUMMER SCHOOL,Conoce y fórmate en las tendencias más innovad...,6488e85f0130fed4d1624e6c,{'$date': '2023-06-14T16:49:14.752Z'},{'$date': '2023-06-15T16:49:14.752Z'},{'$date': '2023-06-15T17:49:14.752Z'},EDEM,[],https://edem.eu/wp-content/uploads/2023/05/2su...,[6489af585340903bb1ebb11e],True
1,{'$oid': '6489d389c6fbcccc68731b11'},EDEM STARTUP,EDEM Startup es un programa de incubación y ac...,6488e85f0130fed4d1624e6c,{'$date': '2023-06-14T16:49:14.752Z'},{'$date': '2023-06-15T16:49:14.752Z'},{'$date': '2023-06-15T17:49:14.752Z'},EDEM,[],https://edem.eu/wp-content/uploads/2021/05/ede...,[6489af585340903bb1ebb11e],True

In [52]:
# Dataframe con columnas de interés: _id, nombre, attendees, oficial

events_official_true = df_events_official_true[["tags","name", "_id",  "attendees", "oficial"]]
events_official_true

,tags,name,_id,attendees,oficial
0,[6489af585340903bb1ebb11e],HR INTERNATIONAL SUMMER SCHOOL,{'$oid': '6489d389c6fbcccc68731b10'},[],True
1,[6489af585340903bb1ebb11e],EDEM STARTUP,{'$oid': '6489d389c6fbcccc68731b11'},[],True

In [53]:
# Cambiar nombres de columnas de dataframe events_official_true

events_official_true.columns = ["name", "description", "events", "participantes", "oficial"]
events_official_true

,name,description,events,participantes,oficial
0,[6489af585340903bb1ebb11e],HR INTERNATIONAL SUMMER SCHOOL,{'$oid': '6489d389c6fbcccc68731b10'},[],True
1,[6489af585340903bb1ebb11e],EDEM STARTUP,{'$oid': '6489d389c6fbcccc68731b11'},[],True

In [54]:
# Agregar columna "createdBy" con valor '6488e85f0130fed4d1624e6c' en todas las filas

events_official_true["createdBy"] = "6488e85f0130fed4d1624e6c"
events_official_true

/var/folders/j7/f0dlbvv5239_cpgr1x6831pc0000gn/T/ipykernel_73067/2526395291.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_official_true["createdBy"] = "6488e85f0130fed4d1624e6c"

,name,description,events,participantes,oficial,createdBy
0,[6489af585340903bb1ebb11e],HR INTERNATIONAL SUMMER SCHOOL,{'$oid': '6489d389c6fbcccc68731b10'},[],True,6488e85f0130fed4d1624e6c
1,[6489af585340903bb1ebb11e],EDEM STARTUP,{'$oid': '6489d389c6fbcccc68731b11'},[],True,6488e85f0130fed4d1624e6c

In [55]:
# Columna events eliminar '$oid' y convertir en lista de strings

events_official_true["events"] = events_official_true["events"].apply(lambda x: str(x["$oid"]))
events_official_true

/var/folders/j7/f0dlbvv5239_cpgr1x6831pc0000gn/T/ipykernel_73067/523535420.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_official_true["events"] = events_official_true["events"].apply(lambda x: str(x["$oid"]))

,name,description,events,participantes,oficial,createdBy
0,[6489af585340903bb1ebb11e],HR INTERNATIONAL SUMMER SCHOOL,6489d389c6fbcccc68731b10,[],True,6488e85f0130fed4d1624e6c
1,[6489af585340903bb1ebb11e],EDEM STARTUP,6489d389c6fbcccc68731b11,[],True,6488e85f0130fed4d1624e6c

In [56]:
# Guardar en formato json

events_official_true.to_json("File/canal_difusion_official_true.json", orient="records")

In [57]:
# Cargar json

canal_difusion = load_data("File/canal_difusion_official_false.json")

In [58]:
canal_difusion

[{'name': '64879ed95340903bb1ebb0fe',
  'description': 'Evento de Visitar museos',
  'events': ['6487a2b3c6fbcccc68731aff'],
  'participantes': ['6487a21ac6fbcccc68731a5a'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb111',
  'description': 'Evento de Ajedrez',
  'events': ['6487a2b3c6fbcccc68731afc'],
  'participantes': ['6487a21ac6fbcccc6873183c'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb103',
  'description': 'Evento de Gimnasio',
  'events': ['6487a2b3c6fbcccc68731b04'],
  'participantes': ['6487a21ac6fbcccc68731912'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb107',
  'description': 'Evento de Natación',
  'events': ['6487a2b3c6fbcccc68731b03'],
  'participantes': ['6487a21ac6fbcccc68731a62'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb0fe',
  'description': 'Evento de Revistas',
  'events': ['6487a2b3c6fbcccc68731b0c'],
  'participantes': ['6487a21ac6fbcccc687319c9'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb101',
  'description': 'Evento de Viajar',
  'events': ['6487a2b3c6fbcccc68731afe'],
  'participantes': ['6487a21ac6fbcccc687319b8'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'},
 {'name': '64879ed95340903bb1ebb106',
  'description': 'Evento de Libros',
  'events': ['6487a2b3c6fbcccc68731b07'],
  'participantes': ['6487a21ac6fbcccc68731869'],
  'oficial': False,
  'createdBy': '6488e85f0130fed4d1624e6c'}]

In [4]:
# Crear una colección de usuarios en la base de datos test 
canaldifusionColletion = db["canaldifusions"]

In [63]:

canaldifusionColletion.insert_many(canal_difusion)

In [64]:

canal_difusion = load_data("File/canal_difusion_official_true.json")

In [65]:

canaldifusionColletion.insert_many(canal_difusion)

In [5]:
# Obtener todos los documentos de la colección canaldifusions

canaldifusionColletion.find({})

In [16]:
# Cambiar el nombre del canal con id 648a224bb3d6955e22e04117 a "Canal de difusión para Visitar museos"
from bson import ObjectId

document_id = ObjectId("648a230ab3d6955e22e0411f")
query = {"_id": document_id}
update = {"$set": {"name": "Canal de difusión para formación en bootcamp"}}

canaldifusionColletion.update_one(query, update)

In [66]:
# Cerrar conexión

client.close()